@Html.Partial("NavbarPartialView")  @*Redenriza a NavBar, localizado em Shared/NavbarPartialView*@


@*<script>
        $(function () {
            $('#search').on('keyup', function () {
                var pattern = $(this).val();
                $('.items-collection .items').hide();
                $('.items-collection .items').filter(function () {
                    return $(this).text().match(new RegExp(pattern, 'i'));
                }).show();
            });
        });
    </script>*@


<div class="form-control " style="font-size:30px; padding:4px; text-align:center">
    PIZZAS
</div>
<div class="items-collection">
    <div class="row">

        <div class="col-lg-3 clearfix">
            <div data-toggle="buttons" class="btn-group  bizmoduleselect ">
                <label class="btn btn-outline-primary btn-block " style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px;margin-left:5px">
                    <div class="itemcontent">
                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" hidden>
                        <h5>Sabor 1</h5>
                        <p style="font-size:10px">Descrição do sabor</p>
                    </div>
                </label>
            </div>
        </div>

        <div class="col-lg-3 clearfix">
            <div data-toggle="buttons" class="btn-group  bizmoduleselect ">
                <label class="btn btn-outline-primary btn-block" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px;margin-left:5px">
                    <div class="itemcontent">
                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" hidden>
                        <h5>Sabor 1</h5>
                        <p style="font-size:10px">Descrição do sabor</p>
                    </div>
                </label>
            </div>
        </div>

        <div class="col-lg-3 clearfix">
            <div data-toggle="buttons" class="btn-group  bizmoduleselect ">
                <label class="btn btn-outline-primary btn-block " style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px;margin-left:5px">
                    <div class="itemcontent">
                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" hidden>
                        <h5>Sabor 1</h5>
                        <p style="font-size:10px">Descrição do sabor</p>
                    </div>
                </label>
            </div>
        </div>

        <div class="col-lg-3 clearfix">
            <div data-toggle="buttons" class="btn-group  bizmoduleselect ">
                <label class="btn btn-outline-primary btn-block" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px;margin-left:5px">
                    <div class="itemcontent">
                        <input type="checkbox" name="var_id[]" autocomplete="off" value="" hidden>
                        <h5>Sabor 1</h5>
                        <p style="font-size:10px">Descrição do sabor</p>
                    </div>
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-control " style="margin-top:5px; font-size:30px; padding:4px; text-align:center">
            BEBIDAS
        </div>
    </div>

    <div class="items-collection">
        <div class="row">

            <div class="col-lg-3 clearfix">
                <div data-toggle="buttons" class="btn-group  bizmoduleselect ">
                    <label class="btn btn-outline-primary btn-block " style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px;margin-left:5px">
                        <div class="itemcontent">
                            <input type="checkbox" name="var_id[]" autocomplete="off" value="" hidden>
                            <h5>Bebida 1</h5>
                            <p style="font-size:10px">Descrição da bebida</p>
                        </div>
                    </label>
                </div>
            </div>

            <div class="col-lg-3 clearfix">
                <div data-toggle="buttons" class="btn-group  bizmoduleselect ">
                    <label class="btn btn-outline-primary btn-block " style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px;margin-left:5px">
                        <div class="itemcontent">
                            <input type="checkbox" name="var_id[]" autocomplete="off" value="" hidden>
                            <h5>Bebida 1</h5>
                            <p style="font-size:10px">Descrição da bebida</p>
                        </div>
                    </label>
                </div>
            </div>

            <div class="col-lg-3 clearfix">
                <div data-toggle="buttons" class="btn-group  bizmoduleselect ">
                    <label class="btn btn-outline-primary btn-block " style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px;margin-left:5px">
                        <div class="itemcontent">
                            <input type="checkbox" name="var_id[]" autocomplete="off" value="" hidden>
                            <h5>Bebida 1</h5>
                            <p style="font-size:10px">Descrição da bebida</p>
                        </div>
                    </label>
                </div>
            </div>

            <div class="col-lg-3 clearfix">
                <div data-toggle="buttons" class="btn-group  bizmoduleselect ">
                    <label class="btn btn-outline-primary btn-block " style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px;margin-left:5px">
                        <div class="itemcontent">
                            <input type="checkbox" name="var_id[]" autocomplete="off" value="" hidden>
                            <h5>Bebida 1</h5>
                            <p style="font-size:10px">Descrição da bebida</p>
                        </div>
                    </label>
                </div>
            </div>

            <div class="col-lg-3 clearfix">
                <div data-toggle="buttons" class="btn-group  bizmoduleselect ">
                    <label class="btn btn-outline-primary btn-block " style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px;margin-left:5px">
                        <div class="itemcontent">
                            <input type="checkbox" name="var_id[]" autocomplete="off" value="" hidden>
                            <h5>Bebida 1</h5>
                            <p style="font-size:10px">Descrição da bebida</p>
                        </div>
                    </label>
                </div>
            </div>

            <div class="col-lg-3 clearfix">
                <div data-toggle="buttons" class="btn-group  bizmoduleselect ">
                    <label class="btn btn-outline-primary btn-block " style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px;margin-left:5px">
                        <div class="itemcontent">
                            <input type="checkbox" name="var_id[]" autocomplete="off" value="" hidden>
                            <h5>Bebida 1</h5>
                            <p style="font-size:10px">Descrição da bebida</p>
                        </div>
                    </label>
                </div>
            </div>

        </div>



        <div class="row">
            <div class="form-control " style="margin-top:5px; font-size:30px; padding:4px; text-align:center">
                SOBREMESAS
            </div>
        </div>
        <div class="items-collection">
            <div class="row">

                <div class="col-lg-3 clearfix">
                    <div data-toggle="buttons" class="btn-group  bizmoduleselect ">
                        <label class="btn btn-outline-primary btn-block " style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px; margin-left:5px">
                            <div class="itemcontent">
                                <input type="checkbox" name="var_id[]" autocomplete="off" value="" hidden>
                                <h5>Sobremesa 1</h5>
                                <p style="font-size:10px">Descrição da sobremesa</p>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="col-lg-3 clearfix">
                    <div data-toggle="buttons" class="btn-group  bizmoduleselect ">
                        <label class="btn btn-outline-primary btn-block " style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px; margin-left:5px">
                            <div class="itemcontent">
                                <input type="checkbox" name="var_id[]" autocomplete="off" value="" hidden>
                                <h5>Sobremesa 1</h5>
                                <p style="font-size:10px">Descrição da sobremesa</p>
                            </div>
                        </label>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="col-md-offset-8 col-md-10" style="margin:20px 0px 0px 900px">
                    <input type="submit" value="Finalizar" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>


<style>
    #search {
        width: 90%;
    }

    .searchicon {
        color: #5CB85C;
    }

    .items-collection {
        margin: 20px 0 0 0;
    }

        .items-collection label.btn-default.active {
            background-color: #007ba7;
            color: #FFF;
        }

        .items-collection label.btn-default {
            width: 90%;
            border: 1px solid #305891;
            margin: 5px;
            border-radius: 17px;
            color: #305891;
        }

        .items-collection label .itemcontent {
            width: 100%;
        }

        .items-collection .btn-group {
            width: 90%
        }
</style>

@Html.Partial("FooterPartialView") @*Redenriza a footer, localizado em Shared/FooterPartialView*@

@Html.Partial("LogoutModalPartialView")@*Redenriza a mensagem de logout, localizado em Shared/LogoutModalPartialView*@

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>


