@Html.Partial("NavbarPartialView")  @*Redenriza a NavBar, localizado em Shared/NavbarPartialView*@

<div class="container">
    <div class="row">
        <div class="form-control " style="font-size:30px; padding:4px; text-align:center">
            PIZZAS
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>Sabor 1</p>
            <p style="font-size:10px">Descrição do sabor</p>
        </button>
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>Sabor 1</p>
            <p style="font-size:10px">Descrição do sabor</p>
        </button>
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>Sabor 1</p>
            <p style="font-size:10px">Descrição do sabor</p>
        </button>
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>Sabor 1</p>
            <p style="font-size:10px">Descrição do sabor</p>
        </button>



        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>Sabor 1</p>
            <p style="font-size:10px">Descrição do sabor</p>
        </button>
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>Sabor 1</p>
            <p style="font-size:10px">Descrição do sabor</p>
        </button>
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>Sabor 1</p>
            <p style="font-size:10px">Descrição do sabor</p>
        </button>
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>Sabor 1</p>
            <p style="font-size:10px">Descrição do sabor</p>
        </button>


    </div>

    <div class="row">
        <div class="form-control " style="margin-top:5px; font-size:30px; padding:4px; text-align:center">
            BEBIDAS
        </div>
    </div>

    <div class="row">
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>Bebida 1</p>
            <p style="font-size:10px">Descrição da bebida</p>
        </button>
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>Bebida 1</p>
            <p style="font-size:10px">Descrição da bebida</p>
        </button>
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>Bebida 1</p>
            <p style="font-size:10px">Descrição da bebida</p>
        </button>
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>Bebida 1</p>
            <p style="font-size:10px">Descrição da bebida</p>
        </button>


    </div>



    <div class="row">
        <div class="form-control " style="margin-top:5px; font-size:30px; padding:4px; text-align:center">
            SOBREMESAS
        </div>
    </div>

    <div class="row">
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>SOBREMESA 1</p>
            <p style="font-size:10px">Descrição da bebida</p>
        </button>
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>SOBREMESA 1</p>
            <p style="font-size:10px">Descrição da bebida</p>
        </button>
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>SOBREMESA 1</p>
            <p style="font-size:10px">Descrição da bebida</p>
        </button>
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>SOBREMESA 1</p>
            <p style="font-size:10px">Descrição da bebida</p>
        </button>


        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>SOBREMESA 1</p>
            <p style="font-size:10px">Descrição da bebida</p>
        </button>
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>SOBREMESA 1</p>
            <p style="font-size:10px">Descrição da bebida</p>
        </button>
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>SOBREMESA 1</p>
            <p style="font-size:10px">Descrição da bebida</p>
        </button>
        <button type="button" class="btn btn-outline-primary btn-block col-lg-3" style="font-size:20px; padding-bottom:5px; text-align:left; margin-top:5px">
            <p>SOBREMESA 1</p>
            <p style="font-size:10px">Descrição da bebida</p>
        </button>
    </div>

    <div class="form-group">
        <div class="col-md-offset-8 col-md-10" style="margin:20px 0px 0px 900px">
            <input type="submit" value="Finalizar" class="btn btn-success" />
        </div>
    </div>
</div>



@Html.Partial("FooterPartialView") @*Redenriza a footer, localizado em Shared/FooterPartialView*@

@Html.Partial("LogoutModalPartialView")@*Redenriza a mensagem de logout, localizado em Shared/LogoutModalPartialView*@

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>


