@Html.Partial("NavbarPartialView") @*Redenriza a NavBar, localizado em Shared/NavbarPartialView*@


<div class="container">
    <div class="row">
        <div class="form-horizontal" id="nomeCliente">
            <div class="form-group col-md-12">
                <input class="form-control" placeholder="NOME CLIENTE" disabled style="width:1000px; padding:25px" />
            </div>
        </div>
    </div>

    <div class="row" style="margin:50px 5px 5px 698px">
        <div class="form-horizontal">
            <div class="form-group">
                <input class="form-control text-center" placeholder="VALOR TOTAL" disabled style="padding:50px" />
            </div>
            <div class="form-group">
                <input class="form-control text-center" placeholder="VALOR A PAGAR" style="padding:25px"/>
            </div>

            <div class="form-group">
                <input class="form-control text-center" placeholder="TROCO" disabled  style="padding:15px"/>
            </div>
        </div>
    </div>

    <div class="row" style="margin:200px 0px 0px 100px ">
        <div class="form-horizontal">
            <div class="form-group ">
                <input class="btn btn-success" type="submit" value="PAGAR" />
                <input class="btn btn-danger" type="submit" value="CANCELAR" />
            </div>
        </div>
    </div>
</div>

@Html.Partial("FooterPartialView") @*Redenriza a footer, localizado em Shared/FooterPartialView*@

@Html.Partial("LogoutModalPartialView")@*Redenriza a mensagem de logout, localizado em Shared/LogoutModalPartialView*@

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>
